<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]>
<!--><html class="no-js" lang="en"><!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>DrewToDraw</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	
	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="/base.css"/>
	<link rel="stylesheet" href="/skeleton.css"/>
	<link rel="stylesheet" href="/layout.css"/>
	<link rel="stylesheet" href="/font-awesome.css" />
	<link rel="stylesheet" href="/onicons.css"/>
	<link rel="stylesheet" href="/retina.css"/>
  	<link rel="stylesheet" href="/stylesheets.css"/>
	
		
	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="/assets/favicon.png">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
	
	<script type="text/javascript" src="js/modernizr.custom.js"></script> 
	
	
</head>
<body class="royal_preloader">	
	
	<div id="royal_preloader"></div>
		
	<!-- Nav and Logo
	================================================== -->

		<header class="cd-header">
			
			<div class="container menu-con">
				<div class="twelve columns">
					<div class="logo-wrap">
						<a href="/"><img src="assets/logo.png" alt=""></a>
					</div>
					<a class="cd-primary-nav-trigger" href="#0">
						<span class="cd-menu-text"></span><span class="cd-menu-icon"></span>
					</a>
				</div>
			</div>		
				
		</header>

		<nav>
			<div class="cd-primary-nav">
			
				<div class="cd-scndr-nav">
					<ul class="cd-accordion-menu animated">
						<li class="has-children">
							<input type="checkbox" name ="group-1" id="group-1">
							<label for="group-1"><a href="/">Work</a></label>

							{{!-- <ul>
								<li><a class="cur-subnav-color" href="index.html">Text</a></li>
								<li><a href="index1.html">Slider</a></li>
								<li><a href="index2.html">Video</a></li>
								<li><a href="index3.html">Parallax</a></li>
								<li><a href="index4.html">Full-Width</a></li>
								<li><a href="index5.html">No-Margin</a></li>
								<li><a href="project.html">Project Page</a></li>
							</ul>
						</li> --}}

						<li class="has-children">
							<input type="checkbox" name ="group-2" id="group-2">
							<label for="group-2"><a href="/about">About</a></label>
						</li>

						<li class="has-children">
							<input type="checkbox" name ="group-4" id="group-4">
							<label for="group-4"><a href="/contact">Contact</a></label>
						</li>

         <!-- cd-accordion-menu -->
					
				</div>
								
			</div>
		</nav>

	<!-- Primary Page Layout
	================================================== -->

{{{body}}}

		
	<div class="scroll-to-top tipped" data-title="<em>top</em>"  data-tipper-options='{"direction":"bottom","follow":"true","margin":20}'></div>
		
	<!-- JAVASCRIPT
    ================================================== -->
	<script type="text/javascript" src="js/jquery-2.1.1.js"></script>	
	<script type="text/javascript" src="js/royal_preloader.min.js"></script>
	<script type="text/javascript" src="js/retina-1.1.0.min.js"></script>
	<script type="text/javascript" src="js/jquery.easing.js"></script>	
	<script type="text/javascript" src="js/menu.js"></script>
	<script type="text/javascript" src="js/tipper.js"></script> 
	<script type="text/javascript" src="js/masonry.js"></script> 
	<script type="text/javascript" src="js/isotope.js"></script>
	<script type="text/javascript" src="js/scrollReveal.js"></script>	
	<script type="text/javascript" src="js/custom-work.js"></script>    
<!-- End Document
================================================== -->
</body>
</html>