<div class="section padding-title-top-small padding-title-bottom background-white">
    <div class="container">
        <div class="twelve columns">
            <div class="page-title parallax-fade-top">
                <h1 id="about-title">ABOUT</h1>
            </div>
        </div>
    </div>
</div>

<div class="section padding-top-bottom-sep background-white over-none">
    <div class="container z-bigger">
        <div class="twelve columns">
            <div id="owl-about" class="owl-carousel owl-theme">
                
                <div class="item" id="headshot">	
                    <div class="img-wrap" id="headshot-image">
                        <img src="/assets/11.jpg" alt="image" />
                    </div>
                    <h4 id="about-me-body">USPENDISSE QUIS AUGUE VELIT. FUSCE NEC RUTRUM DOLOR. SED A HENDRERIT EST, NON SUSCIPIT LEO. FUSCE ET MATTIS MI, NEC ULTRICES NEQUE. SED RUTRUM QUIS EST NEC DAPIBUS. PROIN EGET NEQUE VITAE URNA COMMODO SAGITTIS NON NON LACUS. AENEAN DICTUM ERAT VEL EROS PORTA CONGUE. VIVAMUS LACUS MASSA, MALESUADA AT EFFICITUR ET, MAXIMUS EGET NIBH. AENEAN IMPERDIET FELIS NEC MAGNA MALESUADA IACULIS. NULLAM ORNARE SEMPER TORTOR, QUIS BLANDIT NISI MAXIMUS AT. PHASELLUS QUIS LOBORTIS ANTE. LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT. QUISQUE VITAE QUAM FELIS. UT CONDIMENTUM ORNARE VARIUS. ETIAM MOLLIS ULTRICIES MASSA ET ULLAMCORPER.</h4>			
                </div>			 

            </div>

        </div>
    </div>
</div>	



<div class="section padding-top-bottom background-white">
    <div class="container2">
        <div class="six columns footer" data-scroll-reveal="enter bottom move 60px over 0.5s after 0.1s">
            <h5 id="footer-contact">CONTACT ME <a id="footer-contact" href="/contact" style="text-decoration: underline; font-style: italic">HERE</a></h5>
        </div>
    </div>
</div>
