<div class="section padding-title-top-small padding-title-bottom background-white">
    <div class="container">
        <div class="twelve columns">
            <div class="page-title parallax-fade-top">
                <h1 id="contact-title">HELLO</h1>
                {{!-- <div class="subtitle">GET IN TOUCH</div> --}}
            </div>
        </div>
    </div>
</div>

<div class="section padding-bottom background-white">
    <div class="container">
        <form name="ajax-form" id="ajax-form" action="https://formspree.io/xpzydzwg" method="POST">
            <div class="three columns offset-by-three ">
                <label for="name"> 
                    <span class="error" id="err-name">YOUR NAME</span>
                </label>
                <input name="name" id="name" type="text"   placeholder="Your Name: *"/>
            </div>
            <div class="three columns">
                <label for="email"> 
                    <span class="error" id="err-email">YOUR EMAIL</span>
                    <span class="error" id="err-emailvld">EMAIL IS NOT IN VALID FORMAT</span>
                </label>
                <input name="_replyto" id="email" type="text"  placeholder="E-Mail: *"/>
            </div>
            <div class="clear"></div>
            <div class="six columns remove-top offset-by-three ">
                <label for="message"></label>
                <textarea name="message" id="message" placeholder="Message"></textarea>
            </div>
            <div class="clear"></div>
            <div class="six columns remove-top offset-by-three ">
                <div id="button-con"><button class="send_message button-effect button--moema button--text-thick button--text-upper button--size-s" id="send" data-lang="en">submit</button></div>					
            </div>
            <div class="clear"></div>	
            <div class="error" id="err-form">THERE WAS A PROBLEM VALIDATING THE FORM PLEASE CHECK!</div>
            <div class="error" id="err-timedout">THE CONNECTION TO THE SERVER TIMED OUT!</div>
            <div class="error" id="err-state"></div>
        </form>	

        <div class="clear"></div>
        <div id="ajaxsuccess">SUCCESSFULLY SENT!!</div>
        <div class="clear"></div>
    </div>
</div>

