<div class="section padding-title-top padding-title-bottom background-white">
    <div class="container">
        <div class="twelve columns">
            <div class="page-title parallax-fade-top">
                <h1>Hello!</h1>
                <div class="subtitle">Get in touch</div>
            </div>
        </div>
    </div>
</div>

<div class="section padding-bottom background-white">
    <div class="container">
        <form name="ajax-form" id="ajax-form" action="mailto:yickkiu.leung@gmail.com" method="post" enctype="text/plain">
            <div class="three columns offset-by-three ">
                <label for="name"> 
                    <span class="error" id="err-name">please enter name</span>
                </label>
                <input name="name" id="name" type="text"   placeholder="Your Name: *"/>
            </div>
            <div class="three columns">
                <label for="email"> 
                    <span class="error" id="err-email">please enter e-mail</span>
                    <span class="error" id="err-emailvld">e-mail is not a valid format</span>
                </label>
                <input name="email" id="email" type="text"  placeholder="E-Mail: *"/>
            </div>
            <div class="clear"></div>
            <div class="six columns remove-top offset-by-three ">
                <label for="message"></label>
                <textarea name="message" id="message" placeholder="Message"></textarea>
            </div>
            <div class="clear"></div>
            <div class="six columns remove-top offset-by-three ">
                <div id="button-con"><button class="send_message button-effect button--moema button--text-thick button--text-upper button--size-s" id="send" data-lang="en">submit</button></div>					
            </div>
            <div class="clear"></div>	
            <div class="error" id="err-form">There was a problem validating the form please check!</div>
            <div class="error" id="err-timedout">The connection to the server timed out!</div>
            <div class="error" id="err-state"></div>
        </form>	

        <div class="clear"></div>
        <div id="ajaxsuccess">Successfully sent!!</div>
        <div class="clear"></div>
    </div>
</div>

