
<div class="section padding-title-top padding-title-bottom background-white"></div>

<div id="split">
<div id="upload-section">

<div id="edit-body"> 
    <div class="upload-pictures" id="picture-1">
        <div class="edit-picture">
            <img src="../assets/1.jpg" alt="" class="image1">
        </div>
        <form class="form" action="/file" method="POST" encType="multipart/form-data">
            <div class="form-group">
                <label for="hero-text">Picture 1</label>
                <label>
                    <input id="pic1" type='file' name="file" class="form-control"/>
                </label>
                <label>
                    <input id="tag1" type='text' name="tag" class="form-control" placeholder="image tag"/>
                </label>
                <label>
                    <input id="year1" type='text' name="year" class="form-control" placeholder="year"/>
                </label>
                <input id="submit1" type='submit' value="Upload" class="btn btn-primary"/>
            </div>
        </form>
    </div>

    <div class="upload-pictures" id="picture-2">
        <div class="edit-picture">
            <img src="../assets/2.jpg" alt="" class="image1">
        </div>
        <form class="form" action="/file" method="POST" encType="multipart/form-data">
            <div class="form-group">
                <label for="hero-text">Picture 2</label>
                <label>
                    <input id="pic2" type='file' name="file" class="form-control"/>
                </label>
                <label>
                    <input id="tag2" type='text' name="tag" class="form-control" placeholder="image tag"/>
                </label>
                <label>
                    <input id="year2" type='text' name="year" class="form-control" placeholder="year"/>
                </label>
                <input id="submit2" type='submit' value="Upload" class="btn btn-primary"/>
            </div>
        </form>
    </div>

    <div class="upload-pictures" id="picture-3">
        <div class="edit-picture">
            <img src="../assets/3.jpg" alt="" class="image1">
        </div>
        <form class="form" action="/file" method="POST" encType="multipart/form-data">
            <div class="form-group">
                <label for="hero-text">Picture 3</label>
                <label>
                    <input id="pic3" type='file' name="file" class="form-control"/>
                </label>
                <label>
                    <input id="tag3" type='text' name="tag" class="form-control" placeholder="image tag"/>
                </label>
                <label>
                    <input id="year3" type='text' name="year" class="form-control" placeholder="year"/>
                </label>
                <input id="submit3" type='submit' value="Upload" class="btn btn-primary"/>
            </div>
        </form>
    </div>

    <div class="upload-pictures" id="picture-4">
        <div class="edit-picture">
            <img src="../assets/4.jpg" alt="" class="image1">
        </div>
        <form class="form" action="/file" method="POST" encType="multipart/form-data">
            <div class="form-group">
                <label for="hero-text">Picture 4</label>
                <label>
                    <input id="pic4" type='file' name="file" class="form-control"/>
                </label>
                <label>
                    <input id="tag4" type='text' name="tag" class="form-control" placeholder="image tag"/>
                </label>
                <label>
                    <input id="year4" type='text' name="year" class="form-control" placeholder="year"/>
                </label>
                <input id="submit4" type='submit' value="Upload" class="btn btn-primary"/>
            </div>
        </form>
    </div>

    <div class="upload-pictures" id="picture-5">
        <div class="edit-picture">
            <img src="../assets/5.jpg" alt="" class="image1">
        </div>
        <form class="form" action="/file" method="POST" encType="multipart/form-data">
            <div class="form-group">
                <label for="hero-text">Picture 5</label>
                <label>
                    <input id="pic5" type='file' name="file" class="form-control"/>
                </label>
                <label>
                    <input id="tag5" type='text' name="tag" class="form-control" placeholder="image tag"/>
                </label>
                <label>
                    <input id="year5" type='text' name="year" class="form-control" placeholder="year"/>
                </label>
                <input id="submit5" type='submit' value="Upload" class="btn btn-primary"/>
            </div>
        </form>
    </div>

    <div class="upload-pictures" id="picture-6">
        <div class="edit-picture">
            <img src="../assets/6.jpg" alt="" class="image1">
        </div>
        <form class="form" action="/file" method="POST" encType="multipart/form-data">
            <div class="form-group">
                <label for="hero-text">Picture 6</label>
                <label>
                    <input id="pic6" type='file' name="file" class="form-control"/>
                </label>
                <label>
                    <input id="tag6" type='text' name="tag" class="form-control" placeholder="image tag"/>
                </label>
                <label>
                    <input id="year6" type='text' name="year" class="form-control" placeholder="year"/>
                </label>
                <input id="submit6" type='submit' value="Upload" class="btn btn-primary"/>
            </div>
        </form>
    </div>

    <div class="upload-pictures" id="picture-7">
        <div class="edit-picture">
            <img src="../assets/7.jpg" alt="" class="image1">
        </div>
        <form class="form" action="/file" method="POST" encType="multipart/form-data">
            <div class="form-group">
                <label for="hero-text">Picture 7</label>
                <label>
                    <input id="pic7" type='file' name="file" class="form-control"/>
                </label>
                <label>
                    <input id="tag7" type='text' name="tag" class="form-control" placeholder="image tag"/>
                </label>
                <label>
                    <input id="year7" type='text' name="year" class="form-control" placeholder="year"/>
                </label>
                <input id="submit7" type='submit' value="Upload" class="btn btn-primary"/>
            </div>
        </form>
    </div>

    <div class="upload-pictures" id="picture-8">
        <div class="edit-picture">
            <img src="../assets/8.jpg" alt="" class="image1">
        </div>
        <form class="form" action="/file" method="POST" encType="multipart/form-data">
            <div class="form-group">
                <label for="hero-text">Picture 8</label>
                <label>
                    <input id="pic8" type='file' name="file" class="form-control"/>
                </label>
                <label>
                    <input id="tag8" type='text' name="tag" class="form-control" placeholder="image tag"/>
                </label>
                <label>
                    <input id="year8" type='text' name="year" class="form-control" placeholder="year"/>
                </label>
                <input id="submit8" type='submit' value="Upload" class="btn btn-primary"/>
            </div>
        </form>
    </div>

    <div class="upload-pictures" id="picture-9">
        <div class="edit-picture">
            <img src="../assets/9.jpg" alt="" class="image1">
        </div>
        <form class="form" action="/file" method="POST" encType="multipart/form-data">
            <div class="form-group">
                <label for="hero-text">Picture 9</label>
                <label>
                    <input id="pic9" type='file' name="file" class="form-control"/>
                </label>
                <label>
                    <input id="tag9" type='text' name="tag" class="form-control" placeholder="image tag"/>
                </label>
                <label>
                    <input id="year9" type='text' name="year" class="form-control" placeholder="year"/>
                </label>
                <input id="submit9" type='submit' value="Upload" class="btn btn-primary"/>
            </div>
        </form>
    </div>

    <div class="upload-pictures" id="picture-10">
        <div class="edit-picture">
            <img src="../assets/10.jpg" alt="" class="image1">
        </div>
        <form class="form" action="/file" method="POST" encType="multipart/form-data">
            <div class="form-group">
                <label for="hero-text">Picture 10</label>
                <label>
                    <input id="pic10" type='file' name="file" class="form-control"/>
                </label>
                <label>
                    <input id="tag10" type='text' name="tag" class="form-control" placeholder="image tag"/>
                </label>
                <label>
                    <input id="year10" type='text' name="year" class="form-control" placeholder="year"/>
                </label>
                <input id="submit10" type='submit' value="Upload" class="btn btn-primary"/>
            </div>
        </form>
    </div>

    <div class="upload-pictures" id="headshot-upload">
        <div class="edit-picture">
            <img src="../assets/headshot.jpg" alt="" class="image1">
        </div>
        <form class="form" action="/file" method="POST" encType="multipart/form-data">
            <div class="form-group">
                <label for="hero-text">About</label>
                <label>
                    <input id="headshot-file" type='file' name="file" class="form-control"/>
                </label>
                <label>
                    <input id="tag10" type='text' name="tag" class="form-control" view="hidden" />
                </label>
                <input id="submit-headshot" type='submit' value="Upload" class="btn btn-primary"/>
            </div>
        </form>
    </div>


</div>
</div>

<div id="text-section">

<div id="edit-body-text"> 
    <div class="hero-text">
        <form class="form" action="/file" method="POST" encType="multipart/form-data">
            <div class="form-group-text">
                    <label for="hero-text">Homepage text:</label><br>
                    <input id="hero-text" type='text' name="hero" class="form-control" placeholder="put text here"/>
                <input id="submit1" type='submit' value="Upload" class="btn btn-primary"/>
            </div>
        </form>
    </div>
    <div class="about-text">
        <form class="form" action="/file" method="POST" encType="multipart/form-data">
            <div class="form-group-text">
                    <label for="about-text">About text:</label><br>
                    <textarea id="about-text" type='text' name="about" rows="10" cols="50" class="form-control" placeholder="put text here"></textarea>
                <input id="submit1" type='submit' value="Upload" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>


</div>


