<div class='landing-layout'>

    <div id="loginContainer">
        <div class="spaceBlock150"></div>
        <div id="loginBody">

            <h1>LOGIN</h1>

            <form action="/login" method="post">
                <div class="loginForm">
                    <label class="loginLabel">Email:</label class="loginLabel">
                    <input type="text" name="username" />
                </div>
                <div class="loginForm">
                    <label class="loginLabel">Password:</label>
                    <input type="password" name="password" />
                </div>
                <div class="loginForm">
                    <input type="submit" value="Log In" />
                </div>
            </form>
        </div>

    </div>