
<div class="section c padding-title-bottom background-white">
    <div id='hero' style="background-image: url({{hero.image_path}})">
        <div id="hero-flex">
            <div class="flex-block-1"></div>
            <h1 id="hero-text"><span>INTERIOR DESIGN</span><br><span>IN HONG KONG</span></h1>
            <div class="flex-block-1"></div>
        </div>
    </div>
</div>

<div class="section padding-bottom background-white">

    <div id="projects-grid" class="in-container have-space">
        <a class="tipped" data-title="" >
            <div id="porf1" class="portfolio-box-1 have-space branding container1">
                <img id="image-1" src="assets/1.jpg" alt="" class="image1">
                <div class="overlay1">
                  <div id="tag1"class="text1">KITCHEN</div>
                </div>
            </div>
        </a>
        <a class="tipped" data-title="" >
            <div class="portfolio-box-1 have-space photo">
                <img id="image-2" src="assets/2.jpg" alt="">
                <div class="overlay1">
                  <div id="tag2"class="text1">KITCHEN</div>
                </div>
            </div>
        </a>
        <a  class="tipped" data-title="" >
            <div class="portfolio-box-1 have-space motion">
                <img id="image-3" src="assets/3.jpg" alt="">
                <div class="overlay1">
                  <div id="tag3"class="text1">KITCHEN</div>
                </div>
            </div>
        </a>
        <a  class="tipped" data-title="" >
            <div class="portfolio-box-1 have-space branding">
                <img id="image-4" src="assets/4.jpg" alt="">
                <div class="overlay1">
                  <div id="tag4"class="text1">KITCHEN</div>
                </div>
            </div>
        </a>
        <a  class="tipped" data-title="" >
            <div class="portfolio-box-1 have-space photo">
                <img id="image-5" src="assets/5.jpg" alt="">
                <div class="overlay1">
                  <div id="tag5"class="text1">KITCHEN</div>
                </div>
            </div>
        </a>
        <a  class="tipped" data-title="" >
            <div class="portfolio-box-1 have-space motion">
                <img id="image-6" src="assets/6.jpg" alt="">
                <div class="overlay1">
                  <div id="tag6"class="text1">KITCHEN</div>
                </div>
            </div>
        </a>
        <a class="tipped" data-title="" >
            <div class="portfolio-box-1 have-space motion">
                <img id="image-7" src="assets/7.jpg" alt="">
                <div class="overlay1">
                  <divid="tag7" class="text1">KITCHEN</divid=>
                </div>
            </div>
        </a>
        <a  class="tipped" data-title="" >
            <div class="portfolio-box-1 have-space branding">
                <img id="image-8" src="assets/8.jpg" alt="">
                <div class="overlay1">
                  <div id="tag8"class="text1">KITCHEN</div>
                </div>
            </div>
        </a>
        <a  class="tipped" data-title="" >
            <div class="portfolio-box-1 have-space motion">
                <img id="image-9" src="assets/9.jpg" alt="">
                <div class="overlay1">
                  <div id="tag9"class="text1">KITCHEN</div>
                </div>
            </div>
        </a>
        <a  class="tipped" data-title="" >
            <div class="portfolio-box-1 have-space branding">
                <img id="image-10" src="assets/10.jpg" alt="">
                <div class="overlay1">
                  <div id="tag10"class="text1">KITCHEN</div>
                </div>
            </div>
        </a>
    </div>
</div>


<div class="section padding-top-bottom background-white">
    <div class="container2">
        <div class="six columns footer" data-scroll-reveal="enter bottom move 60px over 0.5s after 0.1s">
            <h5 id="footer-contact">CONTACT ME <a id="footer-contact" href="/contact" style="text-decoration: underline; font-style: italic">HERE</a></h5>
        </div>
    </div>
</div>