
<div class="section c padding-title-bottom background-white">
    <div class="container">
        <div class="twelve columns">
            <div class="colord-text-top parallax-fade-top">
                <h1 id="hero-text"><span>Interior Design</span><br><span>In Hong Kong</span></h1>
            </div>
        </div>
    </div>
</div>

<div class="section padding-bottom background-white">

    <div id="projects-grid" class="in-container have-space">
        <a class="tipped" data-title="" >
            <div id="porf1" class="portfolio-box-1 have-space branding container1">
                <img src="assets/1.jpg" alt="" class="image1">
                <div class="overlay1">
                  <div class="text1">Kitchen</div>
                </div>
            </div>
        </a>
        <a class="tipped" data-title="" >
            <div class="portfolio-box-1 have-space photo">
                <img src="assets/2.jpg" alt="">
                <div class="overlay1">
                  <div class="text1">Kitchen</div>
                </div>
            </div>
        </a>
        <a  class="tipped" data-title="" >
            <div class="portfolio-box-1 have-space motion">
                <img src="assets/3.jpg" alt="">
                <div class="overlay1">
                  <div class="text1">Kitchen</div>
                </div>
            </div>
        </a>
        <a  class="tipped" data-title="" >
            <div class="portfolio-box-1 have-space branding">
                <img src="assets/4.jpg" alt="">
                <div class="overlay1">
                  <div class="text1">Kitchen</div>
                </div>
            </div>
        </a>
        <a  class="tipped" data-title="" >
            <div class="portfolio-box-1 have-space photo">
                <img src="assets/5.jpg" alt="">
                <div class="overlay1">
                  <div class="text1">Kitchen</div>
                </div>
            </div>
        </a>
        <a  class="tipped" data-title="" >
            <div class="portfolio-box-1 have-space motion">
                <img src="assets/6.jpg" alt="">
                <div class="overlay1">
                  <div class="text1">Kitchen</div>
                </div>
            </div>
        </a>
        <a class="tipped" data-title="" >
            <div class="portfolio-box-1 have-space motion">
                <img src="assets/7.jpg" alt="">
                <div class="overlay1">
                  <div class="text1">Kitchen</div>
                </div>
            </div>
        </a>
        <a  class="tipped" data-title="" >
            <div class="portfolio-box-1 have-space branding">
                <img src="assets/8.jpg" alt="">
                <div class="overlay1">
                  <div class="text1">Kitchen</div>
                </div>
            </div>
        </a>
        <a  class="tipped" data-title="" >
            <div class="portfolio-box-1 have-space motion">
                <img src="assets/9.jpg" alt="">
                <div class="overlay1">
                  <div class="text1">Kitchen</div>
                </div>
            </div>
        </a>
        <a  class="tipped" data-title="" >
            <div class="portfolio-box-1 have-space branding">
                <img src="assets/10.jpg" alt="">
                <div class="overlay1">
                  <div class="text1">Kitchen</div>
                </div>
            </div>
        </a>
    </div>
</div>


<div class="section padding-top-bottom background-white">
    <div class="container">
        <div class="six columns footer" data-scroll-reveal="enter bottom move 60px over 0.5s after 0.1s">
            <h5 id="footer-contact">Contact me <a id="footer-contact" href="/contact" style="text-decoration: underline; font-style: italic">here</a></h5>
        </div>
    </div>
</div>