#split {
  display: flex;
  flex-direction: row;
}

#upload-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 5%;
  width: 50%;
}

#text-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 100px;
  width: 50%;
}

#edit-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#edit-body-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.edit-picture {
  width: 150px;
  height: 120px;
  overflow: hidden;
}

.upload-pictures {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  background: white;
  width: 500px;
  height: 150px;

  -webkit-box-shadow: 7px 11px 136px -84px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 11px 136px -84px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 11px 136px -84px rgba(0, 0, 0, 0.75);
}

.form-group {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.hero-text {
  margin-bottom: 20px;
}

/* .about-text{
  display:block;
} */

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  background-color: rgb(147, 179, 139);
  color: #fff;
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar.error {
  background-color: rgb(179, 139, 139);
  color: #fff;
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@media screen and (max-width: 875px) {
  #split {
    display: flex;
    flex-direction: column;
  }
  #text-section {
    padding-left: 5%;
    padding-bottom: 5%;
  }
}
